
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<Model.EF.Slide>)ViewBag.Slides;
    var listNewProducts = (List<Model.EF.Product>)ViewBag.NewProducts;
    var listHotProducts = (List<Model.EF.Product>)ViewBag.HotProducts;
}
@section jsFooter{
    <script src="~/Assets/Client/js/controller/emailController.js"></script>
}
@section slide{
    <div class="slider-default bannerslider">
    <div class="hrv-banner-container">
        <div class="hrvslider">
            <ul class="slides">
                @foreach (var item in slides)
                {
                    <li>
                        <a href="#" class="hrv-url">
                            <img class="img-responsive" src="@item.Link" alt="" />
                        </a>
                        <div id="hrv-banner-caption1" class="hrv-caption hrv-banner-caption">
                            <div class="container">
                                <div class="hrv-caption-inner">
                                    <div class="hrv-banner-content slider-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
}
<div class="pc">

    <section id="content" class="clearfix container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- Content-->
                <div class="main-content">
                    <!-- Sản phẩm trang chủ -->
                    <!--Product loop-->

                    <div class="product-list clearfix ">
                        <div class="container">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <aside class="styled_header  use_icon ">


                                    <h3>SẢN PHẨM BÁN CHẠY</h3>

                                </aside>


                            </div>
                        </div>
                        <div class="container content-product-list css_button products-resize">

                            @foreach (var item in listHotProducts)
                            {
                                <div class="col-md-12 col-sm-6 col-xs-6 pro-loop">

                                    <div class="product-block">

                                        @if (item.PromotionPrice != null)
                                        {
                                            <div class="product-sale">
                                                <span><label class="sale-lb">- </label> @item.PromotionPrice</span>
                                            </div>
                                        }
                                        <div class="product-img image-resize view view-third">

                                            <a href="products/den-led-bulb-thong-minh-dien-quang-apollo-dq-sbu11a60-05765-br01-5w-daylight-ket-noi-bluetooth-dieu-khien-sac-mau-rgb.html" title="Đèn LED Bulb thông minh Điện Quang Apollo ĐQ SBU11A60 05765 BR01 (5W, daylight, kết nối bluetooth, điều khiển sắc màu RGB)">
                                                <img class="first-image  has-img" src="@item.Image" />

                                                <img class="second-image" src="@item.Image" />

                                            </a>
                                            <div class="actionss">

                                                <div class="btn-cart-products">
                                                    <a href="javascript:void(0);">
                                                        Mua ngay
                                                    </a>
                                                </div>

                                                <div class="btn-quickview-products">

                                                    <a href="products/den-led-bulb-thong-minh-dien-quang-apollo-dq-sbu11a60-05765-br01-5w-daylight-ket-noi-bluetooth-dieu-khien-sac-mau-rgb.html">
                                                        Xem nhanh
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail clearfix" style="text-align:left">
                                            <h3 class="pro-name">
                                                <a href="#">
                                                    @item.Name
                                                </a>
                                            </h3>

                                            <div class="pro-prices">
                                                <strong><p class="pro-price">@item.Price ₫</p><br /></strong>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <!--<div class="row">
                        <div class="col-lg-12 pull-center center ">



                        </div>
                        </div>-->
                    </div>

                    <div class="banner-bottom">
                        <div class="row">


                        </div>
                    </div>
                </div>
                <!-- end Content-->
            </div>
        </div>
    </section>
    <section id="content" class="clearfix container-fluid">
        <div class="product-list clearfix container-fluid">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <aside class="styled_header  use_icon ">


                        <h3>SẢN PHẨM MỚI</h3>

                    </aside>
                </div>
            </div>
            <!--Product loop-->
            <div class="container content-product-list css_button products-resize2">
                @foreach (var item in listNewProducts)
                {
                    <div class="col-md-12 col-sm-6 col-xs-6 pro-loop">

                        <div class="product-block">

                            @if (item.PromotionPrice != null)
                            {
                                <div class="product-sale">
                                    <span><label class="sale-lb">- </label> @item.PromotionPrice</span>
                                </div>
                            }
                            <div class="product-img image-resize view view-third">

                                <a href="products/den-led-bulb-thong-minh-dien-quang-apollo-dq-sbu11a60-05765-br01-5w-daylight-ket-noi-bluetooth-dieu-khien-sac-mau-rgb.html" title="Đèn LED Bulb thông minh Điện Quang Apollo ĐQ SBU11A60 05765 BR01 (5W, daylight, kết nối bluetooth, điều khiển sắc màu RGB)">
                                    <img class="first-image  has-img" src="@item.Image" />

                                    <img class="second-image" src="@item.Image" />

                                </a>
                                <div class="actionss">

                                    <div class="btn-cart-products">
                                        <a href="javascript:void(0);">
                                            Mua ngay
                                        </a>
                                    </div>

                                    <div class="btn-quickview-products">

                                        <a href="products/den-led-bulb-thong-minh-dien-quang-apollo-dq-sbu11a60-05765-br01-5w-daylight-ket-noi-bluetooth-dieu-khien-sac-mau-rgb.html">
                                            Xem nhanh
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detail clearfix" style="text-align:left">
                                <h3 class="pro-name">
                                    <a href="#">
                                        @item.Name
                                    </a>
                                </h3>

                                <div class="pro-prices">
                                    <strong><p class="pro-price">@item.Price ₫</p><br /></strong>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

<div class="news" style="padding: 30px 0px;background:#F1F1F2;">
    <div class="container">
        <div class="col-xs-12 text-center" style="padding-bottom: 20px">
            <h3 class="two">
                <span>About us</span>
            </h3>
            <div class="row module-content" style="margin-top: 20px;">

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/chung-cu-bau-cat-2.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/chung-cu-bau-cat-2_large.jpg" alt="CHUNG CƯ BÀU CÁT 2">
                        </a>
                        <div class="button_hover">
                            <p>
                                CHUNG CƯ BÀU CÁT 2
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/chung-cu-bau-cat-2.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/sanctuary-residential-resort.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/sanctuary-residential-resort_large.jpg" alt="SANCTUARY RESIDENTIAL RESORT">
                        </a>
                        <div class="button_hover">
                            <p>
                                SANCTUARY RESIDENTIAL RESORT
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/sanctuary-residential-resort.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/vinh-trung-plaza-da-nang.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/vinh-trung-plaza-da-nang_large.jpg" alt="VINH TRUNG PLAZA - ĐÀ NẴNG">
                        </a>
                        <div class="button_hover">
                            <p>
                                VINH TRUNG PLAZA - ĐÀ NẴNG
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/vinh-trung-plaza-da-nang.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/he-thong-dien-cong-ty-vifon.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/he-thong-dien-cong-ty-vifon_large.jpg" alt="HỆ THỐNG ĐIỆN CÔNG TY VIFON">
                        </a>
                        <div class="button_hover">
                            <p>
                                HỆ THỐNG ĐIỆN CÔNG TY VIFON
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/he-thong-dien-cong-ty-vifon.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/nha-may-xu-ly-rac-kien-giang.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/nha-may-xu-ly-rac-kien-giang_large.jpg" alt="NHÀ MÁY XỬ LÝ RÁC KIÊN GIANG">
                        </a>
                        <div class="button_hover">
                            <p>
                                NHÀ MÁY XỬ LÝ RÁC KIÊN GIANG
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/nha-may-xu-ly-rac-kien-giang.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/nha-may-soi-4-van-coc.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/nha-may-soi-4-van-coc_large.jpg" alt="NHÀ MÁY SỢI 4 VẠN CỌC">
                        </a>
                        <div class="button_hover">
                            <p>
                                NHÀ MÁY SỢI 4 VẠN CỌC
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/nha-may-soi-4-van-coc.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/ngoc-suong-resort.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/ngoc-suong-resort_large.jpg" alt="NGỌC SƯƠNG RESORT">
                        </a>
                        <div class="button_hover">
                            <p>
                                NGỌC SƯƠNG RESORT
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/ngoc-suong-resort.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/kho-lanh-lotte-long-an.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/kho-lanh-lotte-long-an_large.jpg" alt="KHO LẠNH LOTTE LONG AN">
                        </a>
                        <div class="button_hover">
                            <p>
                                KHO LẠNH LOTTE LONG AN
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/kho-lanh-lotte-long-an.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/califonrnia-fitness-yoga.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/califonrnia-fitness-yoga_large.jpg" alt="CALIFONRNIA FITNESS & YOGA">
                        </a>
                        <div class="button_hover">
                            <p>
                                CALIFONRNIA FITNESS & YOGA
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/califonrnia-fitness-yoga.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/palm-garden-resort.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/palm-garden-resort_large.jpg" alt="PALM GARDEN RESORT">
                        </a>
                        <div class="button_hover">
                            <p>
                                PALM GARDEN RESORT
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/palm-garden-resort.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/nha-may-cafe-outspan-long-an.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/cafe-outspan_large.jpg" alt="NHÀ MÁY CAFE OUTSPAN LONG AN">
                        </a>
                        <div class="button_hover">
                            <p>
                                NHÀ MÁY CAFE OUTSPAN LONG AN
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/nha-may-cafe-outspan-long-an.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/nha-may-cap-dien-quang-taisin.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/dq-taisin_large.jpg" alt="NHÀ MÁY CÁP ĐIỆN QUANG - TAISIN">
                        </a>
                        <div class="button_hover">
                            <p>
                                NHÀ MÁY CÁP ĐIỆN QUANG - TAISIN
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/nha-may-cap-dien-quang-taisin.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 news-item no-padding">
                    <div class="news_img">
                        <a href="blogs/thi-cong-lap-dat/intel-viet-nam.html">
                            <img class="img-responsive" src="../Assets/Client/file.hstatic.net/1000253446/article/intel_large.jpg" alt="INTEL VIỆT NAM">
                        </a>
                        <div class="button_hover">
                            <p>
                                INTEL VIỆT NAM
                            </p>
                            <a style="color:white" href="blogs/thi-cong-lap-dat/intel-viet-nam.html">Xem thêm >></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

